*{
    font-family: Work Sans;
}
.navigation{
    padding: 45px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    font-style: 1rem;
}
h3{
    font-size: 45px;
}
.image-container{
    display: flex
};
.text-overlay{
    padding: 240px;
}
.text{
    color: #F948B2 ;
}
.btn-1{
    background-color: #F948B2;
    padding: 10px;
    border-radius: 20px;
}
.btn-2{
    background-color: #4EC5F7;;
    padding: 10px;
    border-radius: 20px;

}
.container{
    display: flex;
    justify-content: space-between;
    
}
.img content{
    padding-right: 500px;
}
.img-contentmg{
    text-align: center;
}