*{
    font-family: Work Sans;
}
.navigation{
    padding: 45px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    font-style: 1rem;
}
h3{
    font-size: 45px;
}
.image-container{
    display: flex
};
.text-overlay{
    padding: 240px;
}
.text{
    color: #b848f9;

}
   
.btn-1{
    background-color: #F948B2;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.btn-2{
    background-color: #4EC5F7;;
    padding: 10px;
    border-radius: 20px;

}
.container{
    display: flex;
    justify-content: space-between;
    
}
.img content{
    padding-right: 500px;
}
.img-contentmg{
    text-align: center;

}
.gamer-content{
    display: flex;
    justify-content: space-between;
    padding: 5px 240px;
    background-color:rgba(255, 182, 193, 0.089)

    
}
h3{
    text-color:  #F948B2 0%, #8758F1 100%;
}
.gamer-3-sec{
    text-align: center;
}
.gamer-description{
    color: #534C64;;
   font-size: 18px;
}
.gamer--image4{
    display: flex;
   margin: auto;
}
    
@media screen and (max-width: 576px){
    
}
    
}